body{
    background-image: url(bapeWallpaper.jpg);
}
.manhinh{
    background-color: rgb(187, 179, 179);
    width: 100%;
    background-color:#36121260 ;
}

.manhinh .gioithieu{
    display: flex;
    width: 1350px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
.manhinh .gioithieu .gt1{ 
    color: yellow;
    font-size: 15px;
    padding-top: 15px;
    text-align: left;   
}
.manhinh .gioithieu .gt2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
    margin-left:150px
}
.manhinh .gioithieu .gt3{
    margin-left: 100px;
    font-size: 15px;
    padding-top: 10px;
}
.manhinh .gioithieu .gt3 .gtcn{
    margin-right: 20px;
    text-decoration: none;
    color: yellow;
    background-color: transparent;
    border: none;
    z-index: 11;
}
.manhinh .gioithieu .gt3 .gtcn:hover{
    color:red;
}
.manhinh .gioithieu2{
    width: 1350px;
    display: flex;
    margin: auto;
}
.manhinh .gioithieu2 .logo{
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.manhinh .gioithieu2 .logo img{
    width: 90px;
    height: 80px;
}
.manhinh .gioithieu2 .gt2cn{
    display: flex;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn{
    padding-left: 90px;
    padding-top: 25px;
    color: yellow;
    font-weight: bold;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn:hover{
    color:red;
    font-size: 18px;   
}
.manhinh .menu{
    width: 100%;
    display: flex;
    padding-top: 10px;
    background-image: url(img_bg_megamenu.png);
    height: 50px;
    background-color: #ffbb00ea;
}
.manhinh .menu .menuu{

    display: flex;
    list-style-type: none;
}
.manhinh .menu .menuu .menucn{
    padding-right: 45px;    
    display: flex;

}
.manhinh .menu .menuu .menucn .mcn{
    color: rgb(184, 8, 184);
    font-weight: bold;
    font-size:20px ;
    text-decoration: none;
}
.manhinh .menu .menuu .menucn .mcn:hover{
    color: red;
}
.manhinh .menu .timkiem{
    display: flex;
} 
.manhinh .menu .timkiem .tim .txttim{
    border-radius: 14px 0 0 14px;
    width: 150px;
    height: 30px;
} 
.manhinh .menu .timkiem .buttomtk{
    padding-left: 5px;
    font-size: 20px;
}
.manhinh .menu .timkiem .buttomtk a{
    color: white;
} 
.manhinh .menu .timkiem .buttomtk a:hover{
    color: red;
} 
.manhinh .menu .giohang{
    margin-left: 20px;  
}
.manhinh .menu .giohang .gh{
    color: rgb(184, 8, 184);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.manhinh .menu .giohang .gh:hover{
    color: red;
}
.manhinh .menu .menuu .menucn .menucon{
    display: inline;
    position: absolute;
    z-index: 1;
    cursor: default;
    width: 200px;
    margin-top: 35px;
    padding-left: 0px;
    visibility: hidden;
    transition: 0.2s;
    margin-left: 30px;
}
.manhinh .menu .menuu .menucn:hover .menucon{
    visibility:visible;
    margin-left: 0px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con{
    list-style-type: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 5px;
    padding-bottom: 5px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 15px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1:hover{
    color: rgb(236, 33, 33);
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
}
.manhinh .than{
    margin: auto;
    width: 1300px;
    background-color: #361212da;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid yellow;
}
.manhinh .than .tieudesp{
    color: #00ffa1;
    margin-top: 10px;
    margin-left: 10px;
}
.manhinh .than .tieudesp .trangchu{
    color: #00ffa1;
    text-decoration: none;
}
.manhinh .than .tieudesp .trangchu:hover{
    color: red;
    text-decoration:underline;
}
.manhinh .than .danhsachsp{
    color:white ;
    display:flex ;
    margin-top: 20px;
}
.manhinh .than .danhsachsp .nd{
    width: 100px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
    margin-right: 20px;
    background-color: cadetblue;
    color: #00ffff;
}
.manhinh .than .danhsachsp .theothuonghieu{
    font-weight: bold;
    padding-top: 3px;
    color: yellow;
    margin-right: 30px;
}
.manhinh .than .danhsachsp .theothuonghieu:hover .tth{
    visibility: visible;
}
.manhinh .than .danhsachsp .theothuonghieu .tth{
    color: white;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100px;
    z-index: 10;
}
.manhinh .than .danhsachsp .theosize{
    font-weight: bold;
    padding-top: 3px;
    color: yellow;
    margin-right: 30px;
}
.manhinh .than .danhsachsp .theosize:hover .tsize{
    visibility: visible;
}
.manhinh .than .danhsachsp .theosize .tsize{
    color: white;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100px;
    z-index: 10;
}
.manhinh .than .danhsachsp .theomau{
    font-weight: bold;
    padding-top: 3px;
    color: yellow;
    margin-right: 30px;
}
.manhinh .than .danhsachsp .theomau:hover .tmau{
    visibility: visible;
}
.manhinh .than .danhsachsp .theomau .tmau{
    color: white;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100px;
    z-index: 10;
}
.manhinh .than .danhsachsp .theogia{
    font-weight: bold;
    padding-top: 3px;
    color: yellow;
    margin-right: 500px;
}
.manhinh .than .danhsachsp .theogia:hover .tgia{
    visibility: visible;
}
.manhinh .than .danhsachsp .theogia .tgia{
    color: white;
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.548);
    z-index: 10;
}
.manhinh .than .danhsachsp .sapxep{
    font-weight: bold;
    padding-top: 3px;
    color: yellow;
}
.manhinh .than .sanpham{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.manhinh .than .sanpham .sp1{
    margin-top: 30px;
    padding-bottom: 5px;
}
.manhinh .than .sanpham .sp1 .layer1{
    width: 255px;
    border: 1px solid yellow;
    position: relative;
}
.manhinh .than .sanpham .sp1 .layer1:hover .layer2{
    visibility: visible;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2{
    width: 253px;
    height: 311px;
    background-color: rgba(33, 70, 119, 0.836);
    z-index: 1;
    top: 0px;
    position: absolute;
    visibility: hidden;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .ttsp1{
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid orange;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .ttsp1:hover a{
    color:red;
    text-decoration: none;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .ttctsp1{
    padding-top: 20px;
    padding-left: 10px;
    color:red;
    font-weight: bold;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .themgiohang{
    background-color: orange;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 40px;
    padding-top: 8px;
    text-align: center;
    font-weight: bold;
    transition: 0.2s;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .themgiohang:hover{
    border: 2px solid white;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .themgiohang .themvaogiohang{
    text-decoration: none;
    color: black;
}
.manhinh .than .sanpham .sp1 .layer1 .layer2 .themgiohang:hover a{
    color:rgb(31, 184, 31);
}
.manhinh .than .sanpham .sp1 .layer1 img{
    width: 253px;
}
.manhinh .than .sanpham .sp1 .layer1 .ttsp1{
    border: 4px solid purple;
    background-color: #10644b88;
}
.manhinh .than .sanpham .sp1 .layer1 .ttsp1 .tensp{
    color:yellow;
    font-weight: bold;
    margin-left: 10px;
}
.manhinh .than .sanpham .sp1 .layer1 .ttsp1 .giasp{
    color:rgb(8, 192, 8);
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 2px;
}
.manhinh .than .page{
    color: #ff8b00;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    width:380px ;
    margin: auto;
    padding-bottom: 20px;
}
.manhinh .than .page .nut{
    width: 40px;
    border: 3px solid #ff8b00;
    text-align: center;
    margin-left:2px ;
}
.manhinh .than .page .nut:hover {
    color: white;
    background-color:#ff8b00 ;
}
.manhinh .lienhe{
    margin-top: 30px;
    width: 1300px;
    margin: auto;
    background-color: #361212da;
    border: 1px solid orange;
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian a{
    padding-left: 30px;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang{
    color: #00ffff;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang p{
    padding-top: 20px;
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang span{
    color: red;
    margin-left: 60px;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian img{
    width: 50px;
    height: 40px;
}
.manhinh .lienhe .diachi p{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .diachi{
    color: #00ffff;
}
.manhinh .lienhe .thongtingioithieu{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thongtingioithieu a{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .lienhe .thongtingioithieu a:hover{
    font-size: 25px;
}