body{
    background-image: url(bapeWallpaper.jpg);
}
.manhinh{
    background-color: rgb(187, 179, 179);
    width: 100%;
    background-color:#36121260 ;
}

.manhinh .gioithieu{
    display: flex;
    width: 1350px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
.manhinh .gioithieu .gt1{ 
    color: yellow;
    font-size: 15px;
    padding-top: 15px;
    text-align: left;   
}
.manhinh .gioithieu .gt2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
    margin-left:150px
}
.manhinh .gioithieu .gt3{
    margin-left: 100px;
    font-size: 15px;
    padding-top: 10px;
}
.manhinh .gioithieu .gt3 .gtcn{
    margin-right: 20px;
    text-decoration: none;
    color: yellow;
    background-color: transparent;
    border: none;
    z-index: 11;
}
.manhinh .gioithieu .gt3 .gtcn:hover{
    color:red;
}
.manhinh .gioithieu2{
    width: 1350px;
    display: flex;
    margin: auto;
}
.manhinh .gioithieu2 .logo{
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.manhinh .gioithieu2 .logo img{
    width: 90px;
    height: 80px;
}
.manhinh .gioithieu2 .gt2cn{
    display: flex;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn{
    padding-left: 90px;
    padding-top: 25px;
    color: yellow;
    font-weight: bold;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn:hover{
    color:red;
    font-size: 18px;   
}
.manhinh .menu{
    width: 100%;
    display: flex;
    padding-top: 10px;
    background-image: url(img_bg_megamenu.png);
    height: 50px;
    background-color: #ffbb00ea;
}
.manhinh .menu .menuu{

    display: flex;
    list-style-type: none;
}
.manhinh .menu .menuu .menucn{
    padding-right: 45px;    
    display: flex;

}
.manhinh .menu .menuu .menucn .mcn{
    color: rgb(184, 8, 184);
    font-weight: bold;
    font-size:20px ;
    text-decoration: none;
}
.manhinh .menu .menuu .menucn .mcn:hover{
    color: red;
}
.manhinh .menu .timkiem{
    display: flex;
} 
.manhinh .menu .timkiem .tim .txttim{
    border-radius: 14px 0 0 14px;
    width: 150px;
    height: 30px;
} 
.manhinh .menu .timkiem .buttomtk{
    padding-left: 5px;
    font-size: 20px;
}
.manhinh .menu .timkiem .buttomtk a{
    color: white;
} 
.manhinh .menu .timkiem .buttomtk a:hover{
    color: red;
} 
.manhinh .menu .giohang{
    margin-left: 20px;  
}
.manhinh .menu .giohang .gh{
    color: rgb(184, 8, 184);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.manhinh .menu .giohang .gh:hover{
    color: red;
}
.manhinh .menu .menuu .menucn .menucon{
    display: inline;
    position: absolute;
    z-index: 1;
    cursor: default;
    width: 200px;
    margin-top: 35px;
    padding-left: 0px;
    visibility: hidden;
    transition: 0.2s;
    margin-left: 30px;
}
.manhinh .menu .menuu .menucn:hover .menucon{
    visibility:visible;
    margin-left: 0px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con{
    list-style-type: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 5px;
    padding-bottom: 5px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 15px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1:hover{
    color: rgb(236, 33, 33);
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
}
.manhinh .than{
    margin: auto;
    width: 1300px;
    background-color: #361212da;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px solid yellow;
}
.manhinh .than .tieudesp{
    color: #00ffa1;
    margin-top: 10px;
    margin-left: 10px;
}
.manhinh .than .tieudesp .trangchu{
    color: #00ffa1;
    text-decoration: none;
}
.manhinh .than .tieudesp .trangchu:hover{
    color: red;
    text-decoration:underline;
}
.manhinh .than .sanpham{
    margin-left: 20px;
    margin-top: 20px;
    color: white;
}
.manhinh .than .sanpham .tencn{
    color: yellow;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.manhinh .than .sanpham .cacsp{
    margin-left: 100px;
    margin-right: 100px;
}
.manhinh .than .sanpham .cacsp .cot{
    display: flex;
    color: yellow;
    margin-bottom: 10px;
}
.manhinh .than .sanpham .cacsp .cot .tensp{
    margin-left: 200px;
    margin-right: 300px;
}
.manhinh .than .sanpham .cacsp .cot .soluong{
    margin-right: 200px;
}
.manhinh .than .sanpham .cacsp .cot .gia{}
.manhinh .than .sanpham .cacsp .dongsp{
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.manhinh .than .sanpham .cacsp .dongsp .hinhasp{
    margin-right: 20px;
    margin-left: 20px;
}
.manhinh .than .sanpham .cacsp .dongsp .hinhasp img{
    width: 50px;
}
.manhinh .than .sanpham .cacsp .dongsp .tensp1{
    margin-right: 460px;
    padding-top: 10px;
}
.manhinh .than .sanpham .cacsp .dongsp .soluong1{
    margin-right: 200px;
    padding-top: 10px;
}
.manhinh .than .sanpham .cacsp .dongsp .gia1{
    padding-top: 10px;
    
}
.manhinh .than .sanpham .ghichu{
    margin-top: 40px;
    margin-left: 50px;
}
.manhinh .than .sanpham .ghichu .ghichu1{
    color: yellow;
}
.manhinh .than .sanpham .ghichu .ghichu2{}
.manhinh .than .sanpham .ghichu{}
.manhinh .than .sanpham .tongtien{
    display: flex;
    margin-top: 20px;
    font-weight: bold;
}
.manhinh .than .sanpham .tongtien .tongtien2{
    color: yellow;
    margin-left: 350px;
}
.manhinh .than .sanpham .tongtien .tongtien1{
    margin-left: 180px;
}
.manhinh .than .sanpham .quaylai{
    margin-left: 60px;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 600px;
}
.manhinh .than .sanpham .quaylai a{
    text-decoration: none;
    color: orange;
}
.manhinh .than .sanpham .quaylai:hover a{
    color: red;
}
.manhinh .than .sanpham .nut{
    border: 2px solid orange;
    width: 200px;
    text-align: center;
    padding-top: 8px;
    color: orange;
}
.manhinh .than .sanpham .nut:hover{
    background-color: orange;
}
.manhinh .than .sanpham .nut .thanhtoan{
    font-weight: bold;
}
.manhinh .lienhe{
    margin-top: 30px;
    width: 1300px;
    margin: auto;
    background-color: #361212da;
    border: 1px solid orange;
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian a{
    padding-left: 30px;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang{
    color: #00ffff;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang p{
    padding-top: 20px;
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang span{
    color: red;
    margin-left: 60px;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian img{
    width: 50px;
    height: 40px;
}
.manhinh .lienhe .diachi p{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .diachi{
    color: #00ffff;
}
.manhinh .lienhe .thongtingioithieu{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thongtingioithieu a{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .lienhe .thongtingioithieu a:hover{
    font-size: 25px;
}