body{
    background-image: url(bapeWallpaper.jpg);
}
.manhinh{
    background-color: rgb(187, 179, 179);
    width: 100%;
    background-color:#36121260 ;
}

.manhinh .gioithieu{
    display: flex;
    width: 1350px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
.manhinh .gioithieu .gt1{ 
    color: yellow;
    font-size: 15px;
    padding-top: 15px;
    text-align: left;   
}
.manhinh .gioithieu .gt2{
    font-size: 30px;
    font-weight: bold;
    color: orange;
    margin-left:150px
}
.manhinh .gioithieu .gt3{
    margin-left: 100px;
    font-size: 15px;
    padding-top: 10px;
}
.manhinh .gioithieu .gt3 .gtcn{
    margin-right: 20px;
    text-decoration: none;
    color: yellow;
    background-color: transparent;
    border: none;
    z-index: 11;
}
.manhinh .gioithieu .gt3 .gtcn:hover{
    color:red;
}
.manhinh .gioithieu2{
    width: 1350px;
    display: flex;
    margin: auto;
}
.manhinh .gioithieu2 .logo{
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.manhinh .gioithieu2 .logo img{
    width: 90px;
    height: 80px;
}
.manhinh .gioithieu2 .gt2cn{
    display: flex;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn{
    padding-left: 90px;
    padding-top: 25px;
    color: yellow;
    font-weight: bold;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .gioithieu2 .gt2cn .gt2cnn .cn:hover{
    color:red;
    font-size: 18px;   
}
.manhinh .menu{
    width: 100%;
    display: flex;
    padding-top: 10px;
    background-image: url(img_bg_megamenu.png);
    height: 50px;
    background-color: #ffbb00ea;
}
.manhinh .menu .menuu{

    display: flex;
    list-style-type: none;
}
.manhinh .menu .menuu .menucn{
    padding-right: 45px;    
    display: flex;

}
.manhinh .menu .menuu .menucn .mcn{
    color: rgb(184, 8, 184);
    font-weight: bold;
    font-size:20px ;
    text-decoration: none;
}
.manhinh .menu .menuu .menucn .mcn:hover{
    color: red;
}
.manhinh .menu .timkiem{
    display: flex;
} 
.manhinh .menu .timkiem .tim .txttim{
    border-radius: 14px 0 0 14px;
    width: 150px;
    height: 30px;
} 
.manhinh .menu .timkiem .buttomtk{
    padding-left: 5px;
    font-size: 20px;
}
.manhinh .menu .timkiem .buttomtk a{
    color: white;
} 
.manhinh .menu .timkiem .buttomtk a:hover{
    color: red;
} 
.manhinh .menu .giohang{
    margin-left: 20px;  
}
.manhinh .menu .giohang .gh{
    color: rgb(184, 8, 184);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.manhinh .menu .giohang .gh:hover{
    color: red;
}
.manhinh .menu .menuu .menucn .menucon{
    display: inline;
    position: absolute;
    z-index: 1;
    cursor: default;
    width: 200px;
    margin-top: 35px;
    padding-left: 0px;
    visibility: hidden;
    transition: 0.2s;
    margin-left: 30px;
}
.manhinh .menu .menuu .menucn:hover .menucon{
    visibility:visible;
    margin-left: 0px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con{
    list-style-type: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.548);
    padding-top: 5px;
    padding-bottom: 5px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 15px;
}
.manhinh .menu .menuu .menucn .menucon .menu1con .menu1con1:hover{
    color: rgb(236, 33, 33);
    padding-left: 20px;
    font-size: 17px;
    font-weight: bold;
}

.manhinh .than{
    margin: auto;
    width: 1300px;
    background-color: #361212da;
    padding-top: 20px;
    margin-bottom: 30px;
    border: 1px solid yellow;
}
.manhinh .than .gioithieut{
    font-weight: bold;
    color: orange;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 5px solid orange;
    font-size: 25px;
}
.manhinh .than .ndgioithieu{
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
}
.manhinh .than .ndgioithieu p{
    font-weight: bold;
    color: yellow;
    font-size: 20px;
}
.manhinh .lienhe{
    margin-top: 30px;
    width: 1300px;
    margin: auto;
    background-color: #361212da;
    border: 1px solid orange;
    border-radius: 10px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian a{
    padding-left: 30px;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang{
    color: #00ffff;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang p{
    padding-top: 20px;
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .tttaikhoannganhang span{
    color: red;
    margin-left: 60px;
    font-weight: bold;
}
.manhinh .lienhe .thanhtoan .thanhtoandongian img{
    width: 50px;
    height: 40px;
}
.manhinh .lienhe .diachi p{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .diachi{
    color: #00ffff;
}
.manhinh .lienhe .thongtingioithieu{
    font-size: 18px;
    color:yellow;
    font-weight: bold;
}
.manhinh .lienhe .thongtingioithieu a{
    color: #00ffff;
    text-decoration: none;
}
.manhinh .lienhe .thongtingioithieu a:hover{
    font-size: 25px;
}

